[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = git://github.com/itchyny/lightline.vim.git
